.btn {
    margin: 0 2px 0 2px;
}

.select-route,
.select-guide {
    background-color: yellow !important;
    color: black !important;
}

.form-check-label {
    opacity: 100 !important;
}

.text-justify {
    text-align: justify;
}

.height {
    height: 100vh;
}

.for-img {
    height: 400px;
    width: 100%;
}

.avatar {
    height: 40px;
    width: 40px;
}

tbody tr:hover {
    background: gray;
    color: #fff;
}

.navidenie:hover {
    background: gray !important;
}

.for-pagination {
    color: #fff !important;
}